{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_page.css' %}">
{% endblock %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<div class="overview-container mb-3">
    <div class="container">
        <div class="row pt-3">
            <div class="col-md-3 col-sm-12 portrait-container">
                <img src="{% static "assets/portrait-no-background.png" %}"  height="600"/>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="card overview-card">
                    <div class="card-body">
                        <h1 class="card-title">Kyle Kaniecki</h1>
                        <h5 class="card-subtitle mb-5 text-muted">2020 Software Engineering Graduate seeking full-time employment</h5>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <h6 class="text-muted">
                                    Overview
                                </h6>
                                <p class="mb-5">
                                    Self driven software engineer seeking full time employment.
                                    Motivated by improving the lives of others through software.
                                    Looking to apply strong knowledge of software team processes to streamline development and introduce visibility into the development process.
                                </p>
                                <h6 class="text-muted">
                                    Skills
                                </h6>
                                <div class="d-flex flex-row flex-wrap align-items-center">
                                    {% for skill in kaniecki_skills %}
                                        <div class="tag">
                                            <i class="fas fa-tag mr-1"></i>
                                            {{ skill }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <h3>Recent Blog Posts</h3>
    <hr />
    <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="card">
       
        </div>
    </div>
        
    </div>
</div>



{% endblock content %}
