{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}

{% with blocks=self.body %}

    {% for block in blocks %}
        {% if block.block_type == 'title' %}
            <h1>{{ block.value }}</h1>
        {% else %}
           <section class="block-{{ block.block_type }}">
               {{ block }}
           </section>
        {% endif %}
    {% endfor %}

{% endwith %}

{% endblock %}