.overview-container {
  background-color: teal;
  min-height: 600px;
  position: relative;
  overflow: hidden;
}

.portrait-container {
  position: absolute;
  top: 0;
  right: 15%;
  z-index: 1;
}

.overview-card {
  box-shadow: 0px 5px 8px 0px #444444;
}

@media (max-width: 576px) {
  .portrait-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: unset;
    right: unset;
    align-self: flex-start;
    margin-bottom: -200px;
    z-index: 0;
  }

  .overview-card {
    z-index: 1;
  }
}

.tag {
  color: white;
  background-color: #806d0d;
  border-radius: 10px;
  padding: 8px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
